:root {
    --almostWhite: hsl(0, 0%, 98%); 
    --mediumGray: hsl(0, 0%, 41%); 
    --almostBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background-color: none;

    font-family:'Epilogue', sans-serif;
    font-weight: 500, 700;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: var(--almostWhite);
}
